
<ion-header>

  <ion-navbar color='primary'>
    <ion-title>{{tournament.name}}</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)='goHome()'>
            <ion-icon name='home'></ion-icon>
        </button>
    </ion-buttons>    
  </ion-navbar>
  <ion-toolbar>
        <ion-searchbar placeholder='Search' [(ngModel)]='queryText' 
        (ionInput)='updateTeams()' (ionClear)='updateTeams()'></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item-group *ngFor='let d of teams'>
    	<ion-item-divider color='secondary'>{{d.divisionName}}</ion-item-divider>
    	<button ion-item (click)='itemTapped(e, t)' *ngFor='let t of d.divisionTeams'>{{t.name}}</button>
    </ion-item-group>
</ion-content>
